<div class="yb-modal-container" style="width:45%;">
	<div class="yb-add-item">
		<div class="yb-borrow-admin-messages">
			<h2>Messages With <%= @with %></h2>
			<div class="yb-admin-messages-list">
				<div id="yb-admin-messages-list" data-yb="yb-admin-messages-<%= @borrow.id %>">
					<span class="yb-loading-spinner" style="margin-top: 50px;"><img src="/assets/loading.gif" /></span>
				</div>
			</div>
		</div>
		<div class="yb-admin-message-form">
			<%= form_for :admin_message, url: message_send_admin_path(@item, @borrow), html:{id: 'yb-admin-message-form', 'data-url': load_admin_messages_path(@borrow.uuid, @item, @borrow), 'data-sender': is_admin_logged_in? ? 'Yo Buddy' : session_user.username, 'data-receiver': is_admin_logged_in? ? @borrow.user.id : "admin_#{@borrow.admin.id}", 'data-id': @borrow.id, 'data-path': admin_borrow_path(@item, @borrow)} do |form| -%>
				<%= form.hidden_field :sender_id, value: @sender %>
				<%= form.hidden_field :receiver_id, value: @receiver %>
				<%= form.text_area :message, placeholder: 'Enter Message', autocomplete: 'off', style: "height: 46px;", required: true %>
				<div style="display: block; position: relative;">
					<button type="submit">Send</button>
					<button type="button" id="yb-close-admin-messages" class="yb-btn-cancel">Close</button>
				</div>	
			<% end -%>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			setLoadData("yb-admin-messages-list", "<%= load_admin_messages_path(@borrow.uuid, @item, @borrow) %>"); 
			let message_list = $("#yb-admin-messages-list");
		    message_list.scrollTop = message_list.scrollHeight;
		    $("#yb-admin-messages-list").animate({ scrollTop: 100000000}, 1000);
		});
		$("#yb-close-admin-messages").closePopup();
		$("#yb-admin-message-form").adminTextMessage();
	</script>
</div>