<% if @active == true %>
<div class="yb-borrow-messages-list">
	<% if @messages.count > 0 %>
		<div class="yb-messages-container">
			<% @messages.each do |message| %>
				<% if message.receiver_id == 0 and message.sender_id == 0 %>
					<div class="yb-message-admin-container">
						<div class="yb-message-admin">
							<div class="yb-message-content">
								<p class="yb-message-date" id="yb-message-date-<%= message.id %>" data-date="<%= message.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"></p>
								<p class="yb-message-text">
									<% if message.admin_message == "new" %>
										<% if message.borrow_item_user.user.id == session_user.id %>
											Borrow Request Sent
										<% else %>
											Borrow Request Received
										<% end %>
									<% elsif message.message.include?("extension_request") %>
										<% if message.message.include?("sent") %>
											<% if message.borrow_item_user.user.id == session_user.id %>
												Borrow Extension Request Sent
											<% else %>
												Borrow Extension Request Sent
												<div class="yb-extension-message-menu" id="yb-extension-message-menu">
													<%= link_to "Accept", update_borrow_extension_status_path(@borrow.uuid, @item, @borrow) + "?status=accept", id: "yb-accept-extension-request", "data-user": @item.user.id, 'data-borrow': @borrow.id, 'data-item': @item.id, 'data-url': item_item_borrow_user_borrow_messages_path(@item, @borrow), 'data-receiver': @borrow.user.id, 'data-sender': session_user.username, 'data-path': item_borrow_path(@borrow.uuid, @item, @borrow), "data-status": "accept", "data-not-icon": session_user.profile_image, "data-not-user": session_user.name %>
													<%= link_to "Reject", update_borrow_extension_status_path(@borrow.uuid, @item, @borrow) + "?status=reject", id: "yb-reject-extension-request", "data-user": @item.user.id, 'data-borrow': @borrow.id, 'data-item': @item.id, 'data-url': item_item_borrow_user_borrow_messages_path(@item, @borrow), 'data-receiver': @borrow.user.id, 'data-sender': session_user.username, 'data-path': item_borrow_path(@borrow.uuid, @item, @borrow), "data-status": "reject", "data-not-icon": session_user.profile_image, "data-not-user": session_user.name %>
												</div>
												<script type="text/javascript">
													$("#yb-accept-extension-request").updateBorrowExtensionStatus();
													$("#yb-reject-extension-request").updateBorrowExtensionStatus();
												</script>
											<% end %>
										<% elsif message.message.include?("rejected") %>
											Borrow Extension Request Rejected
										<% elsif message.message.include?("canceled") %>
											Borrow Extension Request Canceled
										<% elsif message.message.include?("accepted") %>
											Borrow Item Extended For <%= message.message.split(/_/).last %> <%= @borrow.per %>s
										<% end -%>
									<% else %>
										<%= message.admin_message %>
									<% end %>
								</p>
							</div>
						</div>
					</div>

				<% elsif message.receiver_id == session_user.id %>
					<div class="yb-message-received-container">
						<div class="yb-message-received">
							<div class="yb-message-content">
								<% if message.has_images? %>
								<div class="yb-message-image" id="yb-open-images-galery-<%= message.id %>" data-id="<%= message.id %>">
									<%= image_tag message.images[0].image.url, alt: message.message %>
									<% if message.images.count > 1 %>
										<div class="yb-message-images-count">
											<p>+<%= message.images.count.to_i - 1 %></p>
										</div>
									<% end %>
									<div id="yb-image-gallery-<%= message.id %>">
										<% message.images.each do |image| %>
										<a href="<%= image.image.url %>" title="Borrow Message Image"></a>
										<% end %>
									</div>
								</div>
								<% else %>
								<p class="yb-message-text"><%= raw message.message %></p>
								<% end %>
								<p class="yb-message-date" id="yb-message-date-<%= message.id %>" data-date="<%= message.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"></p>
							</div>
							<div class="yb-message-user-image">
								<% if message.sender.image? %>
									<%= image_tag message.sender.image.url, alt: message.sender.username %>
								<% else -%>
									<%= image_tag "/assets/default.jpg", alt: message.sender.username %>
								<% end -%>
							</div>
						</div>
					</div>
				<% elsif message.sender_id == session_user.id %> 
					<div class="yb-message-sent-container">
						<div class="yb-message-sent">
							<div class="yb-message-content">
								<% if message.has_images? %>
								<div class="yb-message-image" id="yb-open-images-galery-<%= message.id %>" data-id="<%= message.id %>">
									<%= image_tag message.images[0].image.url, alt: message.message %>
									<% if message.images.count > 1 %>
										<div class="yb-message-images-count">
											<p>+<%= message.images.count.to_i - 1 %></p>
										</div>
									<% end %>
									<div id="yb-image-gallery-<%= message.id %>">
										<% message.images.each do |image| %>
										<a href="<%= image.image.url %>" title="Borrow Message Image"></a>
										<% end %>
									</div>
								</div>
								<% else %>
								<p class="yb-message-text"><%= raw message.message %></p>
								<% end %>
								<p class="yb-message-date" id="yb-message-date-<%= message.id %>" data-date="<%= message.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"></p>
							</div>
							<div class="yb-message-user-image">
								<% if message.sender.image? %>
									<%= image_tag message.sender.image.url, alt: message.sender.username %>
								<% else -%>
									<%= image_tag "/assets/default.jpg", alt: message.sender.username %>
								<% end -%>
							</div>
						</div>
					</div>
				<% end %>
				<script type="text/javascript">$("#yb-message-date-<%= message.id %>").setDate();$("#yb-open-images-galery-<%= message.id %>").openImageGallery();$("#yb-image-gallery-<%= message.id %>").imagesGallery();</script>
			<% end %>
		</div>
	<% end -%>
</div>
<% else %>
	<p class="yb-error">YOUR PRIVATE ACCOUNT IS NOT ACTIVE</p>
<% end %>
