<section class="yb-admin-container">
	<div class="yb-admin-data-container">
		<h2 style="margin-bottom: 10px;">ADMINISTRATORS</h2>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Image</th>
					<th>Name</th>
					<th>Username</th>
					<th>Email</th>
					<th>Privileges</th>
					<th>Added Date</th>
				</tr>
			</thead>
			<tbody>
				<% if @admins.count > 0 %>
					<% @admins.each do |admin| %>
						<tr>
							<td><%= admin.id %></td>
							<td><%= image_tag admin.image.url, alt: admin.username %></td>
							<td><%= link_to admin.name, "#" %></td>
							<td><%= link_to admin.username, "#" %></td>
							<td><%= admin.email %></td>
							<td><span style="text-transform: capitalize;"><%= admin.privileges %></span></td>
							<td><%= admin.created_at.localtime.strftime("%a %d %b, %Y at %H:%M") %></td>
						</tr>
					<% end %>
				<% else %>
					<tr>
						<td colspan="7"><p class="yb-error">NO ADMIN YET</p></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<br/>
		<h2 style="margin-bottom: 10px;">ADMIN-USERS</h2>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Image</th>
					<th>Name</th>
					<th>Type</th>
					<th>Remaining</th>
					<th>Activated Date</th>
					<th>Is Key Active</th>
					<th>Added Date</th>
				</tr>
			</thead>
			<tbody>
				<% if @admin_users.count > 0 %>
					<% @admin_users.each do |user| %>
						<tr>
							<td><%= user.id %></td>
							<td><% if user.user.image? %> <%= image_tag @user.user.image.url %> <% else %> <%= image_tag "/assets/default.jpg" %> <% end %></td>
							<td><%= link_to user.user.name, admin_show_admin_u_path(user.user.username, user) %></td>
							<td><%= user.admin_user_activation.yb_key.yb_package.package.capitalize! %></td>
							<td><%= user.admin_user_activation.yb_key.remaining %> <%= user.admin_user_activation.yb_key.duration_type.capitalize! %>s</td>
							<td><% if user.admin_user_activation.yb_key.activated_date != nil %><%= user.admin_user_activation.yb_key.activated_date.localtime.strftime("%a %d %b, %Y at %H:%M") %><% else %> - <% end %></td>
							<td><%= user.admin_user_activation.yb_key.is_active.to_s.capitalize! %></td>
							<td><%= user.created_at.localtime.strftime("%a %d %b, %Y at %H:%M") %></td>
						</tr>
					<% end %>
				<% else %>
					<tr>
						<td colspan="8"><p class="yb-error">NO ADMIN-USER YET</p></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="yb-admin-right-side">
		<h4>Filter Administrators</h4>
		<%= form_for :search_admin, method: "GET", html: {"data-url": "#"} do |form| %>
			<%= form.text_field :search_text, placeholder: "Search Term" %>
			<div class="yb-order-by">
				<label>Order By : </label>
				<%= form.select :order_by do -%>
					<% @order_by.each do |order| %>
						<%= content_tag(:option, order["text"], value: order["id"]) %>
					<% end %>
				<% end %>
				<%= form.select :order do -%>
					<% @order.each do |ord| %>
						<%= content_tag(:option, ord["text"], value: ord["id"]) %>
					<% end %>
				<% end %>
				<button type="submit">Filter</button>
				<button type="button" id="admin-add-admin" href="#yb-open-admin-add-admin">Add Admin</button>
				<button type="button" id="admin-add-admin-user" href="#yb-open-admin-add-admin-user" style="display: block; width: 100%; margin-top: 15px; color: #FFF; background: var(--gray)">Add Admin User</button>
			</div>
		<% end %>
	</div>
</section>
<section class="zoom-anim-dialog mfp-hide" id="yb-open-admin-add-admin"><%= render "admin/newadmin" %></section>
<section class="zoom-anim-dialog mfp-hide" id="yb-open-admin-add-admin-user"><%= render "admin/newadminuser" %></section>