<section class="yb-admin-container">
	<div class="yb-admin-data-container" style="width: 100% !important;">
		<h3>Recent Posted Items</h3>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Image</th>
					<th>Name</th>
					<th>Category</th>
					<th>Subcategory</th>
					<th>Owner</th>
					<th>Price</th>
					<th>Data</th>
					<th>Posted Date</th>
				</tr>
			</thead>
			<tbody>
				<% if @items.count > 0 %>
					<% @items.each do |item| %>
						<tr>
							<td><%= item.id %></td>
							<td><%= image_tag item.item_image[0].image.url, alt: item.name %></td>
							<td><%= link_to item.name, admin_item_path(item) %></td>
							<td><%= link_to item.category.name, admin_category_path(item.category) %></td>
							<td><%= link_to item.subcategory.name, admin_subcategory_path(item.category, item.subcategory) %></td>
							<td><%= link_to item.user.name, user_path(item.user), target: "_blank" %></td>
							<td><span id="admin-item-price-<%= item.id %>" data-number="<%= item.price %>"></span> <%= item.currency %> / <%= item.per %></td>
							<td></td>
							<td><span id="admin-item-date-<%= item.id %>" data-date="<%= item.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"></span></td>
						</tr>
						<script type="text/javascript">$("#admin-item-price-<%= item.id %>").setNumber(); $("#admin-item-date-<%= item.id %>").setDate();</script>
					<% end %>
				<% else %>
					<tr>
						<td style="padding:20px 0;" colspan="9"><p class="yb-error">NO ITEM POSTED</p></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<h3 style="margin-top: 30px !important;">Recent Borrowed Items</h3>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Image</th>
					<th>Name</th>
					<th>Owner</th>
					<th>Borrower</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
					<th>From</th>
					<th>To</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<% if @borrows.count > 0 %>
					<% @borrows.each do |borrow| %>
						<tr>
							<td><%= borrow.id %></td>
							<td><%= image_tag borrow.item.item_image[0].image.url, alt: borrow.item.name %></td>
							<td><%= link_to borrow.item.name, admin_borrow_path(borrow.item, borrow) %></td>
							<td><%= link_to borrow.item.user.name, user_path(borrow.item.user), target: "_blank" %></td>
							<td><%= link_to borrow.user.name, user_path(borrow.user), target: "_blank" %></td>
							<td><span id="admin-item-price-single-<%= borrow.id %>" data-number="<%= borrow.price %>"></span> <%= borrow.currency %> / <%= borrow.per %> (<%= borrow.updated_numbers %>)</td>
							<td><%= borrow.count %></td>
							<td><span id="admin-item-price-total-<%= borrow.id %>" data-number="<%= borrow.borrow_total %>"></span> <%= borrow.currency %></td>
							<td><%= borrow.from_date.localtime.strftime("%a %d %b, %Y at %H:%M") %></td>
							<td><%= borrow.to_date.localtime.strftime("%a %d %b, %Y at %H:%M") %></td>
							<td style="text-transform: capitalize;"><%= borrow.status %></td>
						</tr>
						<script type="text/javascript">$("#admin-item-price-single-<%= borrow.id %>").setNumber(); $("#admin-item-price-total-<%= borrow.id %>").setNumber();</script>
					<% end %>
				<% else %>
					<tr>
						<td style="padding:20px 0;" colspan="11"><p class="yb-error">NO BORROW POSTED</p></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</section>