<section class="yb-header-else">
	<div class="yb-header-else-container">
		<div class="yb-header-user">
			<div class="yb-header-image">
				<% if session_user.image? %>
					<%= image_tag session_user.image.url %>
				<% else %>
					<img src="/assets/default.jpg"/>
				<% end %>
			</div>
			<h4><%= session_user.username %></h4>
		</div>
		<div class="yb-session-menu">
			<ul>
				<li><%= link_to "Items", session_items_path %></li>
				<li><%= link_to "Likes", session_likes_path %></li>
				<li><%= link_to "Followers", session_followers_path %></li>
				<li><%= link_to "Following", session_following_path %></li>
				<li class="active"><%= link_to "Item Data", session_borrowed_path %></li>
			</ul>
		</div>
	</div>
</section>
<section class="yb-session-main">
	<div class="yb-session-info-about">
		<%= render "partials/session" %>
	</div>
	<div class="yb-session-container">
		<div class="yb-session-menu">
			<ul>
				<li><%= link_to "Items", session_items_path %></li>
				<li><%= link_to "Likes", session_likes_path %></li>
				<li><%= link_to "Followers", session_followers_path %></li>
				<li><%= link_to "Following", session_following_path %></li>
				<li class="active"><%= link_to "Item Data", session_borrowed_path %></li>
			</ul>
		</div>
		<div class="yb-session-data">
			<% if @requests.count > 0 %>
				<div class="yb-user-items">
					<div id="yb-item-request-list">
						<%= render @requests %>
					</div>
				</div>
				<%= will_paginate @requests %>
				<div class="yb-items-loader">
		   	 		<%= image_tag '/assets/loading.gif', alt: 'Loading' %>
		   	 	</div>
			<% else %>
                <p class="yb-error">NO REQUESTED ITEM</p>
            <% end %>
        </div>
	</div>
</section>
