<section class="yb-header-else">
	<div class="yb-header-else-container">
		<div class="yb-header-user">
			<div class="yb-header-image">
				<% if @user.image? %>
					<%= image_tag @user.image.url %>
				<% else %>
					<img src="/assets/default.jpg"/>
				<% end %>
			</div>
			<h4><%= @user.username %></h4>
		</div>
		<div class="yb-session-menu">
			<ul>
				<li><a href="<%= user_items_path %>">Items</a></li>
				<li><a href="<%= user_likes_path %>">Likes</a></li>
				<li><a href="<%= user_followers_path %>">Followers</a></li>
				<li><a href="<%= user_following_path %>">Following</a></li>
				<li class="active"><a href="<%= user_borrows_path %>">Item Data</a></li>
			</ul>
		</div>
	</div>
</section>
<section class="yb-session-main">
	<div class="yb-session-info-about">
		<%= render "user/user" %>
	</div>
	<div class="yb-session-container">
		<div class="yb-session-menu">
			<ul>
				<li><a href="<%= user_items_path %>">Items</a></li>
				<li><a href="<%= user_likes_path %>">Likes</a></li>
				<li><a href="<%= user_followers_path %>">Followers</a></li>
				<li><a href="<%= user_following_path %>">Following</a></li>
				<li class="active"><a href="<%= user_borrows_path %>">Item Data</a></li>
			</ul>
		</div>
		<div class="yb-session-data">
			<% if @requests.count > 0 %>
				<div class="yb-user-items">
					<div id="yb-item-request-list">
						<%= render @requests %>
					</div>
				</div>
				<%= will_paginate @requests %>
				<div class="yb-items-loader">
		   	 		<%= image_tag '/assets/loading.gif', alt: 'Loading' %>
		   	 	</div>
			<% else %>
                <p class="yb-error">NO REQUESTED ITEM</p>
            <% end %>
		</div>
	</div>
</section>
