<p><strong>ID : </strong><%= @borrow.code %></p>
<p><strong>Owner : </strong><%= link_to @borrow.item.user.name, user_path(@borrow.item.user), target: "_blank" %></p>
<p><strong>Borrower : </strong><%= link_to @borrow.user.name, user_path(@borrow.user), target: "_blank" %></p>
<p><strong>Item : </strong><%= link_to @borrow.item.name, item_path(@borrow.item), target: "_blank" %></p>
<p><strong>Category : </strong><%= link_to @borrow.item.category.name, category_path(@borrow.item.category), target: "_blank" %> - <%= link_to @borrow.item.subcategory.name, subcategory_path(@borrow.item.category, @borrow.item.subcategory), target: "_blank" %></p>
<p><strong>Single Price : </strong><span id="yb-borrow-single-price" data-number="<%= @borrow.price %>"><%= @borrow.price %></span> <%= @borrow.currency %> / <%= @borrow.per %></p>
<p><strong>Number : </strong><%= @borrow.updated_numbers %> <% if @borrow.updated_numbers == 1 %><%= @borrow.per %>  <% else %> <%= "#{@borrow.per}s" %><% end %></p>
<p><strong>Quantity : </strong><%= @borrow.count %> Items</p>
<p><strong>Total : </strong><span id="yb-borrow-total-price" data-number="<%= @borrow.borrow_total %>"><%= @borrow.borrow_total %></span> <%= @borrow.currency %></p>
<p><strong>From : </strong> <%= @borrow.from_date.localtime.strftime("%a %d %b, %Y at %H:%M") %></p>
<p><strong>To : </strong> <%= @borrow.to_date.localtime.strftime("%a %d %b, %Y at %H:%M") %></p>
<p><strong>Status : </strong> <span style="text-transform: capitalize;"><%= @borrow.status %></span></p>
<p><strong>Request Date : </strong> <span id="yb-request-date" data-date="<%= @borrow.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"><%= @borrow.created_at.localtime.strftime("%a %d %b, %Y at %H:%M") %></span></p>
<p><strong>Conditions : </strong></p>
<div class="yb-description"><%= raw @borrow.conditions %></div>