<div class="yb-modal-container">
	<div class="yb-add-item">
		<% if @item_borrow.status != "failed" %>
			<h2>Edit Borrow Item</h2>
			<%= form_for :item_borrow, url: item_item_borrow_user_path(@item, @item_borrow), method: :patch , html: {id: "yb-borrow-item"} do |form| %>
				<div class="yb-add-price">
					<label>Propose Price :</label>
					<%= form.hidden_field :item_id, value: @item.id %>
					<%= form.hidden_field :last_update_user_id, value: session_user.id %>
					<%= form.hidden_field :status, value: @status[0] %>
					<%= form.number_field :price, min: '0', placeholder: 'Enter Price', required: true, value: @item_borrow.price %>
					<%= form.select(:currency, required: true) do -%>
						<% @currencies.each do |currency| %>
							<% if @item_borrow.currency == currency["currency"] %>
							<%= content_tag(:option, currency["name"], value: currency["currency"], selected: "selected") %>
							<% else %>
							<%= content_tag(:option, currency["name"], value: currency["currency"]) %>
							<% end %>
						<% end %>
					<% end %>
					<%= form.select(:per, required: true) do %>
						<% @per.each do |t| %>
							<% if @item_borrow.per == t %>
							<%= content_tag(:option, "Per #{t}", value: t, selected: "selected") %>
							<% else %>
							<%= content_tag(:option, "Per #{t}", value: t) %>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<div class="yb-from-date">
					<label>From & Times number :</label>
					<%= form.text_field :from_date, required:true, placeholder: "YYYY/MM/DD H:m" %>
					<%= form.number_field :numbers, required:true, min: '1', placeholder: "Enter Number of Times" %>
				</div>
				<label>Conditions :</label>
				<%= form.text_area :conditions, required: true %>
				
				<div style="display: block; position: relative;">
					<button type="submit">Submit</button>
					<button type="button" id="yb-close-borrow-item" class="yb-btn-cancel">Cancel</button>
				</div>
			<% end %>
		<% else %>
			<p class="yb-error">YOU CANT UPDATE THIS BORROW REQUEST. STATUS : FAILED</p>
		<% end %>
	</div>
	<script type="text/javascript">
		CKEDITOR.replace( 'item_borrow_conditions' );
		$("#yb-close-borrow-item").closePopup();
		$("#item_borrow_per").changeItemPrice("item_borrow_price", "<%= @item.price %>", "<%= @item.per %>");
		$("#item_borrow_from_date").datetimepicker();
	</script>
</div>


