<div class="yb-modal-container" style="width:45%;">
	<div class="yb-add-item">
		<div class="yb-borrow-admin-messages">
			<div class="yb-follow-ups-header">
				<% if is_admin_logged_in? %>
					<ul id="yb-follow-ups-header-menu">
						<li class="active"><a href="#" data-href="<%= load_follow_ups_received_path(@item, @borrow) %>">Sent</a></li>
						<li><a href="#" data-href="<%= load_follow_ups_sent_path(@item, @borrow) %>">Received</a></li>
					</ul>
				<% else %>
					<ul id="yb-follow-ups-header-menu">
						<li href="#" class="active"><a data-href="<%= load_follow_ups_sent_path(@item, @borrow) %>">Sent</a></li>
						<li><a href="#" data-href="<%= load_follow_ups_received_path(@item, @borrow) %>">Received</a></li>
					</ul>
				<% end -%>
			</div>
			<div class="yb-admin-messages-list">
				<div id="yb-admin-messages-list" data-yb="yb-admin-messages-<%= @borrow.id %>">
					<span class="yb-loading-spinner" style="margin-top: 50px;"><img src="/assets/loading.gif" /></span>
				</div>
			</div>
		</div>
		<% if @sender != 0 %>
			<div class="yb-admin-message-form">
				<%= form_for :follow_up, url: send_follow_up_path(@item, @borrow), html:{id: 'yb-admin-message-form', 'data-url': load_follow_ups_sent_path(@item, @borrow), 'data-sender': is_admin_logged_in? ? 'Yo Buddy' : session_user.username, 'data-receiver': is_admin_logged_in? ? @borrow.user.id : "admin_#{@borrow.admin.id}", 'data-id': @borrow.id, 'data-path': is_admin_logged_in? ? item_borrow_path(@borrow.uuid, @item, @borrow) : admin_borrow_path(@item, @borrow) } do |form| -%>
					<%= form.text_area :message, placeholder: 'Enter Message', autocomplete: 'off', style: "height: 46px;", required: true %>
					<div style="display: block; position: relative;">
						<button type="submit">Send</button>
						<button type="button" id="yb-close-admin-messages" class="yb-btn-cancel">Close</button>
					</div>
				<% end -%>
			</div>
		<% else -%>
			<div style="display: block; position: relative;">
				<button type="button" id="yb-close-admin-messages" class="yb-btn-cancel">Close</button>
			</div>
		<% end -%>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			<% if is_admin_logged_in? %>
				setLoadData("yb-admin-messages-list", "<%= load_follow_ups_received_path(@item, @borrow) %>");
		    <% else %>
		    	setLoadData("yb-admin-messages-list", "<%= load_follow_ups_sent_path(@item, @borrow) %>");
		    <% end -%>
		    $("#yb-admin-messages-list").animate({ scrollTop: 100000000}, 1000);

		    $("#yb-follow-ups-header-menu li a").click(function(e){
		    	e.preventDefault();
		    	$("#yb-admin-messages-list").html('<span class="yb-loading-spinner" style="margin-top: 50px;"><img src="/assets/loading.gif" /></span>');
		    	setLoadData("yb-admin-messages-list", $(this).attr("data-href"));
		    	$(this).parent("li").addClass("active").siblings().removeClass("active");
		    	$("#yb-admin-messages-list").animate({ scrollTop: 100000000}, 1000);
		    });
		});
		$("#yb-close-admin-messages").closePopup();
		$("#yb-admin-message-form").adminTextMessage();
	</script>
</div>