<div class="yb-modal-container" style="width: 700px; overflow: visible;">
	<div class="yb-single-item-main">
		<div class="yb-single-info">
			<div class="yb-single-user-img">
				<% if @item.user.image? %>
		            <%= image_tag @item.user.image.url, alt: @item.user.username %>
		        <% else %>
		            <%= image_tag "/assets/default.jpg", alt: @item.user.username %>
		        <% end %>
			</div>
			<div class="yb-single-info-item">
				<h3><a href="<%= item_show_path(@item.user.username, @item.uuid, @item) %>"><%= @item.name %></a></h3>
				<p class="yb-single-category"><%= link_to @item.category.name, category_path(@item.category.uuid, @item.category, activate: @item.category.id) %> - <%= link_to @item.subcategory.name, subcategory_path(@item.category.uuid, @item.category, @item.subcategory) %></p>
				<p class="yb-single-user-date">by <%= link_to @item.user.name, user_items_path(@item.user.username, @item.user) %> - <span id="item_date" data-date="<%= @item.created_at.strftime('%Y-%m-%d %H:%M:%S') %>"></span></p>
				<% if is_logged_in? %>
					<div class="yb-single-follow" id="yb-user-follow-container-<%= @item.user.id %>" data-id="<%= @item.user.id %>">
						<% if @item.user.followers.include?(session_user.id) %>
							<span><i class="icon ion-person followed"></i></span>
						<% else %>
							<span><i class="icon ion-person-add"></i></span>
						<% end %>
					</div>
					<%= form_for :follow, url: user_follow_path(@item.user), html:{id: "yb-user-follow-form-#{@item.user.id}", "data-user": session_user.username, "data-id": @item.user.id, "data-not-icon": session_user.profile_image, "data-not-user": session_user.name, "data-not-url": user_items_url(session_user.username, session_user.id)} do |form| %>
						<%= form.hidden_field :following_id, value: @item.user.id %>
					<% end %>
					<script type="text/javascript">$("#yb-user-follow-container-<%= @item.user.id %>").followUser(); $("#yb-user-follow-form-<%= @item.user.id %>").followUserEvent();</script>
				<% end %>
			</div>
		</div>
		<div class="yb-single-price">
			<span><i class="icon ion-ios-pricetags"></i></span> 
			<span id="item_price" data-number="<%= @item.price %>"></span>
			<span><%= @item.currency %></span> / <span><%= @item.per %></span>
		</div>
		<hr style="display: block;">
		<div class="yb-single-item-imgs">
			<div class="yb-single-images">
				<ul>
					<% @item.item_image.each do |image| %>
						<li <% if @item.item_image[0] == image %>class="activated"<% end %>>
							<a href="<%= image.image.url %>" data-image-id="<%= image.id %>">
								<%= image_tag image.image.url, alt: @item.name %>
							</a>
						</li>
					<% end -%>
				</ul>
			</div>
			<div class="yb-single-image" data-image-id="<%= @item.item_image[0].id %>">
				<%= image_tag @item.item_image[0].image.url, alt: @item.name, id: "item_image_main"%>
			</div>
		</div>
		<div class="yb-single-quantity">
			<p><span><strong>Quantity : </strong><%= @item.count %> Items</span> - <span><strong>Available Now : </strong><%= @item.available %> Items</span></p>
		</div>
		<div class="yb-single-description">
			<%= raw @item.description %>
		</div>
		<div class="yb-single-item-data">
			<ul class="yb-item-data-list">
				<li>
					<% if is_logged_in? %>
						<%= form_for(:like, url: like_path(@item), html:{id: "like_form_#{@item.id}", class: "like-form", item: @item.id, "data-liker": session_user.username, "data-owner": @item.user.id, "data-url": item_show_path(@item.user.username, @item.uuid, @item), "data-not-icon": session_user.profile_image, "data-not-user": session_user.name, "data-not-url": item_show_url(@item.user.username, @item.uuid, @item)}) do |form| %>
		                    <%= form.hidden_field(:item_id, value: @item.id, id:"item_item_id_#{@item.id}") %>
							<p class="like-item" data-item="<%= @item.id %>">
								<% if @item.likes.include?(session_user.id) %>
									<span class="like-<%= @item.id %>"><i class="icon ion-ios-heart liked"></i></span>
								<% else %>
									<span class="like-<%= @item.id %>"><i class="icon ion-ios-heart-outline"></i></span>
								<% end %>
								<span class="number like-sum-<%= @item.id %>" id="number_likes" data-number="<%= @item.item_like.count %>"></span>
							</p>
						<% end -%>
						<%= form_for(:favourite, url: favourite_path(@item), html:{id: "yb-favourite-item-form"}) do |form| %>
							<%= form.hidden_field :item_id, value: @item.id %>
						<% end %>
					<% else %>
						<p>
							<span class="like-<%= @item.id %>"><i class="icon ion-ios-heart-outline"></i></span>
							<span class="number like-sum-<%= @item.id %>" id="number_likes" data-number="<%= @item.item_like.count %>"></span>
						</p>
					<% end -%>
				</li>
				<li>
					<p><span><i class="icon ion-ios-chatbubble"></i></span><span class="number comment-sum-<%= @item.id %>" id="number_comments" data-number="<%= @item.comment.count %>"></span></p>
				</li>
				<li>
					<p><span><i class="icon ion-ios-cart"></i></span><span class="number" data-number="<%= @item.borrow_item_user.count %>" id="number_borrow"></span></p>
				</li>
				<span id="yb-favourite-item-container">
				<% @item.item_favourite.each do |favourite| %>
					<% if favourite.user.id == session_user.id %>
						<li>
							<p id="yb-favourite-item-else"><span><i class="icon ion-ios-star" style="color: var(--primaryColor);"></i></span></p>
						</li>
					<% end %>
				<% end %>
				</span>
			</ul>
			<div class="yb-item-menu-container">
				<span class="yb-item-menu" id="yb-item-menu-item" data-id="menu-item"><i class="icon ion-chevron-down"></i></span>
				<div class="yb-item-menu-list yb-menu-list" id="yb-menu-items-menu-item" style="margin-bottom: 10px;">
					<ul>
						<% if is_logged_in? %>
						<% if session_user.id == @item.user.id %>
						<li><a href="<%= item_edit_path(@item.user.username, @item.uuid, @item) %>" id="yb-edit-item-path"><span class="item-icon"><i class="icon ion-edit"></i></span><span class="item-text">Edit</span></a></li>
						<li><a href="#"><span class="item-icon"><i class="icon ion-trash-b"></i></span><span class="item-text">Delete</span></a></li>
						<% end -%>
						<% end -%>
						<li><a href="<%= item_available_path(@item.user.username, @item.uuid, @item) %>" id="yb-item-check-available"><span class="item-icon"><i class="icon ion-clipboard"></i></span><span class="item-text">Available</span></a></li>
						<li><a href="<%= borrow_item_path(@item.user.username, @item.uuid, @item) %>" id="yb-new-item-borrow-user-path"><span class="item-icon"><i class="icon ion-plus"></i></span><span class="item-text">Borrow</span></a></li>
						<li><a id="yb-favourite-item"><span class="item-icon"><i class="icon ion-ios-star-outline"></i></span><span class="item-text">Favourite</span></a></li>
						<li><a href="<%= report_new_path(@item.id) %>?ressource=item" id="yb-get-report"><span class="item-icon"><i class="icon ion-ios-information-outline"></i></span><span class="item-text">Report</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<h3 style="text-align: center; font-size: 16px;">Similar Items</h3>
		<hr style="display: block;">
		<div class="yb-some-items-container" id="yb-similar-items" style="margin: auto; height: 130px;">
			<div class="yb-item-previous-else yb-btn-prev">
				<span><i class="icon ion-ios-arrow-back"></i></span>
			</div>
			<div class="yb-item-next-else yb-btn-next">
				<span><i class="icon ion-ios-arrow-forward"></i></span>
			</div>
			<div style="width: auto; overflow:hidden; display: block;position: relative;">
				<div class="yb-some-items-list" style="height: 130px;">
					<% if @others.count > 0 %>
						<ul style="height: 130px;">
							<% @others.each do |item| %>
								<li>
									<div class="yb-some-item">
										<div class="yb-item-image">
											<a href="<%= item_show_ajax_path(item.user.username, item.uuid, item) %>" id="yb-show-item-ajax-<%= item.id %>">
												<%= image_tag item.item_image[0].image.url, alt: item.name %>
											</a>
										</div>
										<div class="yb-item-bottom">
											<h4><%= item.name %></h4>
											<p><%= item.price_to_s %> <%= item.currency %> / <%= item.per %></p>
										</div>
									</div>
									<script type="text/javascript">$("#yb-show-item-ajax-<%= item.id %>").magnificPopup({type:'ajax'});</script>
								</li>
							<% end %>
						</ul>
					<% end %>
				</div>
			</div>
		</div>
	</div>
			
	<script type="text/javascript">
		$("#yb-show-session-menu").showMenu();
	    $("#item_date").setDate();
	    $("#item_price").setNumber();
	    $("#number_likes").setNumber();
	    $("#number_comments").setNumber();
	    $("#number_borrow").setNumber();
	    $("#yb-item-menu-item").showMenu();
	    $(".like-item").likeItem();
	    $(".like-form").likeItemEvent();
	    $("#yb-favourite-item-form").favoutiteItem();
	    $("#yb-similar-items").scrollDivClick();
	    $(".yb-single-images ul li a").click(function(e){
	        e.preventDefault();
	        var image = $(this).attr("href");
	        var id = $(this).attr("data-image-id");
	        $(this).parent("li").addClass("activated").siblings().removeClass("activated");
	        $("#item_image_main").attr("src", image);
	        $("#item_image_main").parent(".yb-single-image").attr("data-image-id", id);
	    });
	</script>
</div>