<section class="yb-header-else-main">
	<div class="yb-header-else-container">
		<h3 style="padding:0 !important; margin:0 !important;"><i class="fas">&#x<%= @subcategory.category.icon %>;</i> <%= @subcategory.name %></h3>
	</div>
</section>
<section class="yb-jumbotron">
	<h1><i class="fas">&#x<%= @subcategory.category.icon %>;</i> <%= @subcategory.name %></h1>
</section>
<section class="yb-items-list-main" style="margin-top: 30px;">
	<% if @items.count > 0 %>
		<div class="yb-items-container">
			<div class="yb-user-items">
				<div id="yb-item-list">
					<%= render @items %>
				</div>
	        </div>
	        <%= will_paginate @items %>
		</div>
		<div class="yb-items-loader">
		   	<%= image_tag '/assets/loading.gif', alt: 'Loading' %>
		</div>
	<% else %>
        <p class="yb-error">NO POSTED ITEM FOR THIS CATEGORY</p>
    <% end %>
</section>