<section class="yb-admin-container">
	<div class="yb-admin-data-container">
		<h3>ITEMS IN STOCK</h3>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Image</th>
					<th>Name</th>
					<th>Item - Status</th>
					<th>Is Available</th>
					<th>Last / Current Borrower</th>
					<th>From</th>
					<th>To</th>
					<th>Borrow - Status</th>
				</tr>
			</thead>
			<tbody>
				<% if @items.count > 0 %>
					<% @items.each do |item| %>
						<tr>
							<td><%= item.item.id %></td>
							<td><%= image_tag item.item.item_image[0].image.url, alt: item.item.name %></td>
							<td><%= link_to item.item.name, admin_u_item_path(item.item.user.username, item.item.uuid, item.item) %></td>
							<td style="text-transform: capitalize;"><%= item.status %></td>
							<td style="text-transform: capitalize;"><%= item.is_available %></td>
							<td><% if item.borrow != nil %><%= link_to item.borrow.user.name, admin_u_borrow_path(item.borrow.item.uuid, item.borrow.item, item.borrow) %><% else %>-<% end %></td>
							<td><% if item.borrow != nil %><%= item.borrow.from_date.localtime.strftime("%a %d %b, %Y at %H:%M") %><% else %>-<% end %></td>
							<td><% if item.borrow != nil %><%= item.borrow.to_date.localtime.strftime("%a %d %b, %Y at %H:%M") %><% else %>-<% end %></td>
							<td style="text-transform: capitalize;"><% if item.borrow != nil %><%= item.borrow.status %><% else %>-<% end %></td>
						</tr>
					<% end %>
				<% else %>
					<tr>
						<td style="padding:20px 0;" colspan="9"><p class="yb-error">NO ITEM IN <%= session_admin_user.user.name.upcase %> STOCK</p></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="yb-admin-right-side" style="margin-top: 5px;">
		<h4>Filter Items</h4>
		<%= form_for :search_item, method: "GET", html: {"data-url": "#"} do |form| %>
			<%= form.text_field :search_text, placeholder: "Search Term" %>
			<div class="yb-order-by">
				<label>Order By : </label>
				<%= form.select :order_by do -%>
					<% @order_by.each do |order| %>
						<%= content_tag(:option, order["text"], value: order["id"]) %>
					<% end %>
				<% end %>
				<%= form.select :order do -%>
					<% @order.each do |ord| %>
						<%= content_tag(:option, ord["text"], value: ord["id"]) %>
					<% end %>
				<% end %>
				<label>Statuts :</label>
				<%= form.select :status do %>
					<%= content_tag :option, "All", value: "all" %>
					<% @borrow_admin_status.each do |status| %>
						<%= content_tag :option, status, value: status %>
					<% end %>
				<% end %>
				<label>Category : </label>
				<%= form.select :category do %>
					<%= content_tag :option, "All", value: "all" %>
					<% @categories.each do |category| %>
						<%= content_tag :option, category.name, value: category.id %>
					<% end %>
				<% end %>
				<label>Subcategory : </label>
				<%= form.select :subcategory do %>
					<%= content_tag :option, "All", value: "all", category: "all" %>
					<% @subcategories.each do |subcategory| %>
						<%= content_tag :option, subcategory.name, value: subcategory.id, category: subcategory.category_id %>
					<% end %>
				<% end %>
				<button type="submit">Filter</button>
				<button type="button" id="admin-open-scan-borrow" href="<%= admin_scan_borrow_path %>">Scan Borrow</button>
				<button type="button" id="admin-add-new-item" href="<%= new_item_path %>?source=admin" style="display: block; width: 100%; margin-top: 15px; color: #FFF; background: var(--gray)">Add New Item</button>
			</div>
		<% end %>
	</div>
</section>