<!DOCTYPE html>
<html>
    <head>
        <title>Admin - Yo Buddy !</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width" />
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/assets/ionicons/css/ionicons.min.css" />
      	<link rel="stylesheet" type="text/css" href="/assets/toast/iziToast.min.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/intlTelInput.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/popup/magnific-popup.css" />
        <script type="text/javascript" src="/assets/jquery-3.1.1.js"></script>
      	<script type="text/javascript" src="/assets/backstretch.js"></script>
        <script type="text/javascript" src="/assets/toast/iziToast.min.js"></script>
        <script type="text/javascript" src="/assets/intlTelInput.js"></script>
        <script type="text/javascript" src="/assets/popup/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="/assets/ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="/assets/moment.js"></script>
        <script type="text/javascript" src="/assets/numeral/numeral.min.js"></script>
        <script type="text/javascript" src="/assets/qrcode.min.js"></script>
        <script type="text/javascript" src="/assets/instascan.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2mLGusTJZqu7zesBgobnoVIzN6hIayvk&libraries=places,geometry"></script>
        <script type="text/javascript" src="http://127.0.0.1:5000/socket.io/socket.io.js"></script>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render "partials/adminh" %>
        <%= render "partials/sidebar" %>
        <%= yield %>
    </body>
</html>
